<h2>{{title}}</h2>

<form (ngSubmit)="enviar()">

  <div class="form-group">
    <label for="categoria">Categoria</label>
    <select id="categoria" name="categoria" class="form-control"
      [(ngModel)]="model.categoria">
      <option value="">(Selecione)</option>  
      <option *ngFor="let cat of categorias | async" [ngValue]="cat._id">{{cat.descricao}}</option>
      </select>
  </div>
  
  <div class="form-group">
    <label for="descricao">Enunciado da questão</label>
    <textarea id="descricao" name="descricao" class="form-control" [(ngModel)]="model.descricao">
    </textarea>
  </div>

  <div class="text-center">
    <input type="submit" value="Enviar" class="btn btn-primary" />
  </div>

</form>
