<h1>Lista de questões</h1>

<a routerLink="/questoes/nova" class="btn btn-primary btn-md">Nova questão</a>

<table class="table table-striped">
  <tr>
    <th>Descrição</th>
    <th>Categoria</th>
    <th>Excluir</th>
  </tr>
  <tr *ngFor="let questao of questoes">
    <td>
      <a [routerLink]="['/questoes', questao._id]">
        {{questao.descricao}}
      </a>
    </td>
    <td>{{questao.categoria.descricao}}</td>
    <td>
      <button (click)="excluir(questao._id)" class="btn btn-default btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</table>
